node_modules
.DS_Store
npm-debug.log*
dist
.idea
.vscode

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
backend/lib/
backend/lib64/
backend/venv/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.db
*.db-journal

# Environment variables
.env
.env.local
.venv/
venv/
env/
.env.production.local